html {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  html {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: rgb(13 17 23);
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
}

.markdown-body {
  padding: 8px 16px;
}

@media (prefers-color-scheme: light) {
  .search-text-start,
  .search-text {
    background-color: #fffe54;
  }

  .search-text-current-start,
  .search-text-current {
    background-color: #ef9a4a;
  }
}

@media (prefers-color-scheme: dark) {
  .search-text-start,
  .search-text {
    color: #fff;
    background-color: #926821;
  }

  .search-text-current-start,
  .search-text-current {
    color: #fff;
    background-color: #ad531f;
  }
}

/* Both <pre> from github-markdown.css and <code> from highlight.js are trying to add 1em padding. */
pre code.hljs {
  padding: 0;
}

.tippy-content {
  font-size: 0.8rem;
}

.code-fence-math {
  display: flex;
  justify-content: center;
}

.math-expr-block {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.math-expr-inline {
  display: inline;
}
