/node_modules
/target
/src/assets/*.js
/src/assets/*.js.map
/src/assets/**/*.css
/src/assets/**/*.css.map
/src/assets/*.html
/ui/mathjax_loader.ts
/Shiba.app
/Shiba.dmg
/shiba.msi
/meta.json
/TODO.md
