npm-debug.log
/bower_components
/node_modules
/build/static
/build/src
/app.asar
/npm-publish
/typings
/archive
/packages
/test/**/*.js
/test/**/*.js.map
!/test/main/node_modules/electron/index.js
/scripts/gemoji
