link rel="import" href="../../bower_components/polymer/polymer.html"
link rel="import" href="../../bower_components/paper-item/paper-item.html"
link rel="import" href="../../bower_components/paper-item/paper-item-body.html"

dom-module#lint-message
  style
    |
      :host {
        font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
      }
      .item {
        background-color: white;
        @apply(--shadow-elevation-2dp);
        border-bottom: 1px solid #e6e6e6;
        font: inherit;
      }
      .text {
        white-space: pre-wrap;
      }

  template
    paper-item.item
      paper-item-body.layout.vertical[two-line]
        div[secondary]
          | {{header}}
        div.text
          | {{body}}

  script src="../src/renderer/lint-message.js"
