link rel="import" href="../../bower_components/polymer/polymer.html"
link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html"
link rel="import" href="lint-message.html"

dom-module#lint-panel
  style
    |
      :host {
        font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
      }
      .paper-header {
        color: white;
        @apply(--shadow-elevation-2dp);
        font-size: 1.5em;
        padding: 4px;
      }
      :host > ::content [no_error] {
        background-color: #d99e5f;
      }
      :host > ::content [error] {
        background-color: #ce3c4a;
      }
      .rule-link {
        float: right;
        margin: 12px;
      }
      .link {
        cursor: pointer;
        color: gray;
      }
      .lint-content {
        padding: 12px;
        font: inherit;
        background-color: #ffd8aa;
      }
      .voice-notification {
        display: none;
      }

  template
    div.paper-header#lint-header[no_error] No Error
    div.lint-content
    footer.rule-link
      span.link on-click="_showLintRules" lint rules
      audio.voice-notification src="[[voice_src]]" preload="auto"

  script src="../src/renderer/lint-panel.js"
