link rel="import" href="../../bower_components/polymer/polymer.html"

dom-module#paw-filechooser
  link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.min.css"

  style
    |
      .hidden-uploader {
        display: none;
      }
      .chooser {
        position: relative;
        width: calc(100% - 44px);   /* (margin 20px + border 2px) * 2 */
        height: calc(100vh - 44px);
        margin: 20px;
        background-color: #eeeeee;
        border: 2px dashed grey;
        border-radius: 8px;
        cursor: pointer;
      }
      .inner-chooser {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-weight: bold;
        font-size: xx-large;
        color: grey;
        font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
      }

  template
    div.chooser onclick="launchFileChooser()"
      div.inner-chooser
        p
          i class="fa fa-paw fa-5x"
        p
          i class="fa fa-arrow-up fa-2x"
        p Drop file to window
        input.hidden-uploader type="file"

  script src="../src/renderer/paw-filechooser.js"
