doctype html
html
  head
    meta charset="utf-8"
    script src="../../bower_components/webcomponentsjs/webcomponents-lite.min.js"
    link rel="import" href="../../bower_components/polymer/polymer.html"
    link rel="import" href="../../bower_components/paper-input/paper-input.html"
    css:
    style
      |
        body {
          margin: 0px;
          color: #522d05;
          background-color: #ffd8aa;
          overflow: hidden;
          font-family: "Helvetica Neue", Helvetica, "Segoe UI", Meiryo, Arial, freesans, sans-serif;
        }
        paper-input.search-input {
          --paper-input-container-color: #522d05;
          --paper-input-container-focus-color: #d99e5f;
        }
  body
    paper-input.search-input[label="Search document" autofocus]
  javascript:
    'use strict';

    const electron = require('electron');
    const ipc = electron.ipcRenderer;
    let while_composition = false;

    const element = document.querySelector('.search-input');
    element.addEventListener('keydown', e => {
      if (while_composition) {
        return;
      }
      switch(e.code) {
        case 'Enter':
          ipc.sendToHost('builtin-search:query', element.value);
          break;
        case 'Escape':
          ipc.sendToHost('builtin-search:close');
          break;
        case 'KeyG':
          if (e.ctrlKey) {
            ipc.sendToHost('builtin-search:close');
          }
          break;
        default:
          break;
      }
    });

    element.addEventListener('compositionstart', () => {
      while_composition = true;
    });
    element.addEventListener('compositionend', () => {
      while_composition = false;
    });

    ipc.on('builtin-search:focus', () => {
      element.focus();
    });
