doctype html
html
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes"
    title Shiba
    script src="../../bower_components/webcomponentsjs/webcomponents-lite.min.js"

    link rel="import" href="../../bower_components/iron-icons/iron-icons.html"
    link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html"
    link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html"
    link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html"
    link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html"
    link rel="import" href="markdown-preview.html"
    link rel="import" href="lint-panel.html"
    link rel="import" href="path-dialog.html"

    link rel="stylesheet" href="../../bower_components/github-markdown-css/github-markdown.css"
    link rel="stylesheet" href="../../node_modules/highlight.js/styles/github.css"

    style is="custom-style"
      |
        #main-area {
          @apply(--layout-horizontal);
        }
        .preview {
          @apply(--layout-flex);
          overflow: auto;
        }
        #menu {
          @apply(--layout-vertical);
        }
        #lint-area {
          overflow: auto;
        }
        #menu {
          background-color: #ffd8aa;
        }
        .menu-button {
          color: #d99e5f;
        }

  body
    paper-drawer-panel#main-drawer[drawer-width="320px" responsive-width="1120px" disable-swipe=true right-drawer]
      / Note: paper-header-panel is required to scroll content from JavaScript
      paper-header-panel[main]
        section#main-area
          div.preview#viewer-wrapper
          div#menu
            span
              paper-icon-button#path-button.menu-button icon="folder" alt="Watching dir" onclick="onPathButtonPushed()"
              path-dialog#path-change label="Shiba watching..."
            span
              paper-icon-button#lint-button.menu-button[icon="error" alt="Lint" paper-drawer-toggle]

      paper-header-panel[drawer]
        lint-panel#lint-area

    script src="../src/renderer/index.js"
