link rel="import" href="../../bower_components/polymer/polymer.html"

dom-module id="markdown-preview"
  link rel="import" type="css" href="../../bower_components/github-markdown-css/github-markdown.css"

  style is="custom-style"
    |
      .markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
      }

  template
    div.markdown-body

  javascript:
    'use strict';

    const openExternal = require('shell').openExternal;

    function openLinkWithExternalBrowser(event) {
      event.preventDefault();
      openExternal(event.target.href);
      return false;
    }

    Polymer({
      is: 'markdown-preview',

      properties: {
        content: {
          type: String,
          observer: '_contentUpdated'
        }
      },

      _contentUpdated: function(new_content) {
        document.querySelector('.markdown-body').innerHTML = new_content;

        // Prevent external links from opening in page
        const links = document.querySelectorAll('a');
        for (let i = 0; i < links.length; ++i) {
          let link = links.item(i);
          if (link.href && link.href.startsWith('http')) {
            link.setAttribute('onclick', 'openLinkWithExternalBrowser(event)');
          }
        }
      }
    });
