link rel="import" href="../../bower_components/polymer/polymer.html"
link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html"
link rel="import" href="../../bower_components/paper-input/paper-textarea.html"
link rel="import" href="../../bower_components/paper-button/paper-button.html"
link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html"

dom-module id="path-dialog"
  style is="custom-style"
    |
      .dialog {
        width: 100%;
      }
      #path-choose-button {
        color: white;
        background: #d99e5f;
        float: left;
      }
      #path-hidden-input {
        display: none;
      }
      #path-chooser-area {
        float: right;
        margin: 14px;
      }

  template
    paper-dialog.dialog#path-change-dialog
      div#path-input-area
        paper-textarea#path-text-area label="{{label}}" value="{{path}}"
        div class="layout horizontal"
          div class="layout flex"
            paper-button#path-choose-button[on-click="onChooserLaunched" raised] Choose
          div#path-chooser-area
            paper-toggle-button#want-to-choose-dir-button
            span Choose Directory
        input#path-hidden-input type="file" on-change="onFileSpecified"

  script src="../src/renderer/path-dialog.js"
