<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="Shiba" UpgradeCode="80666faf-9701-44d2-9845-5e37325ac89e" Language="1033" Codepage="1252" Version="$(var.ShibaVersion)" Manufacturer="Shiba" InstallerVersion="200">
        <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Icon Id="ShibaIco" SourceFile=".\assets\icon.ico" />
        <WixVariable Id="WixUILicenseRtf" Value=".\assets\wix\license.rtf" />
        <Property Id="ARPPRODUCTICON" Value="ShibaIco" />
        <MediaTemplate EmbedCab="yes" />
        <ui:WixUI Id="WixUI_Minimal" />
        <Feature Id="ProductFeature" Title="ConsoleApp" Level="1">
            <ComponentRef Id="ShibaExe" />
            <ComponentRef Id="ShibaShortcut" />
            <ComponentRef Id="ModifyPathEnv" />
        </Feature>
        <!-- Application binaries -->
        <DirectoryRef Id="ShibaProgramFiles">
            <Component Id="ShibaExe">
                <File Id="ShibaExeFile" Source=".\target\release\shiba.exe" Name="shiba.exe" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <!-- Application shortcut -->
        <DirectoryRef Id="ShibaProgramMenu">
            <Component Id="ShibaShortcut" Guid="05061698-a706-4e4d-8324-1263d3cfe6c2">
                <Shortcut Id="ShibaShortcutFile" Name="Shiba" Description="Simple markdown previewer for your favorite text editor" Target="[ShibaProgramFiles]shiba.exe" />
                <RemoveFolder Id="ShibaProgramMenu" On="uninstall" />
                <RegistryValue Root="HKCU" Key="Software\Microsoft\Shiba" Name="installed" Type="integer" Value="1" KeyPath="yes" />
            </Component>
        </DirectoryRef>
        <!-- Add to PATH -->
        <DirectoryRef Id="ShibaProgramFiles">
            <Component Id="ModifyPathEnv" Guid="25144a43-f500-499c-9873-b3f664c2ebe6" KeyPath="yes">
                <Environment Id="PathEnv" Value="[ShibaProgramFiles]" Name="PATH" Permanent="no" Part="first" Action="set" System="yes" />
            </Component>
        </DirectoryRef>
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="ShibaProgramFiles" Name="Shiba" />
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ShibaProgramMenu" Name="Shiba" />
        </StandardDirectory>
    </Package>
</Wix>
